<div>
    <h4>Radio</h4>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1"checked>Default Radio 1</mat-radio-button>
        <mat-radio-button value="2">Default Radio 2</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button class="border" value="1"checked>Custom Radio 1</mat-radio-button>
        <mat-radio-button class="border" value="2">Custom Radio 2</mat-radio-button>
    </mat-radio-group>
</div>        