
<div class="menuser">
    <div class="user">
        <div>
             <img src="assets/user.jfif" alt="" class="imgUser">
            <div>
                <p>Daniel Russel</p>
                <p>@danielrussel</p>
            </div>
        </div>
        <img src="assets/twitter.png" alt="" class="imgTwitter">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sem non mauris euismod hendrerit.Aliquam condimentum sem non mauris euismod hendrerit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
    <div class="userEnd">
        <div>
            <p>TWEETS</p>
            <h4>768.8k</h4>
        </div>
        <div>
            <p>TWEETS</p>
            <h4>768.8k</h4>
        </div>
        <div>
            <p>TWEETS</p>
            <h4>768.8k</h4>
        </div>
    </div>
</div>